<%= render "admin/genres/list",　genres: @genres %>

<main>
<div class="container">
  <div class="row">
    <div class="title col-9 mt-5 mb-5">
      <h5><span class="title-bg-color px-3">商品一覧</span></h5>
    </div>
    <div class="col-1 mt-5 mb-5 ml-auto">
      <%= link_to new_admin_item_path, class:"text-dark" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <table class="table table-borderless border-top">
        <thead class="bg-light">
          <tr>
            <th style="width: 10%">商品ID</th>
            <th style="width: 30%">商品名</th>
            <th style="width: 10%">税抜価格</th>
            <th style="width: 30%">ジャンル</th>
            <th style="width: 15%">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td>
                <%= link_to item.name, admin_item_path(item.id), class:"text-dark" %>
              </td>
              <td><%= (item.price).to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active == true %>
                  <strong class="text-success"><%= "販売中" %></strong>
                <% else %>
                  <storong class="text-secondary"><%= "販売停止中" %></storong>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @items %>
    </div>
  </div>
</div>
</main>