<header>
  <nav class="navbar　navbar-light　bg-white">
    <div class="container-fluid border-bottom border-dark">
      <div class="row">
        <div class="col-4 my-4">
          <a class="navbar-brand" href="/">
            <span><%= image_tag "logo.png" %></span>
          </a>
        </div>
        <div class="col-4 ml-auto my-2 ">
          <div class="row">
             <% if customer_signed_in? %>
                  <div class="col-12 d-flex justify-content-between">
                      <%= link_to "マイページ", public_customer_path(@customer.id), class:"btn btn-sm btn-outline-secondary me-2" %>
                      <%= link_to "商品一覧", public_items_path, class:"btn btn-sm btn-outline-secondary me-2" %>
                      <%= link_to "カート", public_cart_items_path, class:"btn btn-sm btn-outline-secondary me-2" %>
                      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-sm btn-outline-secondary me-2" %>
                  </div>
             <% else %>
                  <div class="col-12 d-flex justify-content-between">
                      <%= link_to "About", about_path, class:"btn btn-sm btn-outline-secondary me-2 "  %>
                      <%= link_to "商品一覧", public_items_path, class:"btn btn-sm  btn-outline-secondary me-2 "  %>
                      <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-sm  btn-outline-secondary me-2 "  %>
                      <%= link_to "ログイン", new_customer_session_path, class:"btn btn-sm  btn-outline-secondary me-2 "  %>
                  </div>
             <% end %>
          </div>
          <div class="row">
            <div class="col-6 input-group ml-auto my-2">
              <input type="text" class="form-control" placeholder="search">
	             <span class="input-group-btn">
		            <button type="button" class="btn btn-default">🔎</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <h1 class="about-title text-center">About</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                <strong>
                    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
                    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
                    様々なバリエーションをご用意しております。<br>
                    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
                    ぜひご注文ください。
                </strong>    
            </p>
        </div>
        <div class="col-7 about-image">
            <%= image_tag "cakeshop4-e1584326221992.jpg", class:"about-image-item"%>
        </div>
    </div>
    
</div>
    
    
</main>