<%= render "admin/genres/list", genres:@genres %>

<main>
    
<div class="container">
  <div class="row">
    <div class="title col-8 mt-5 mb-5">
      <h5><span class="title-bg-color px-3"><%= @customer.full_name %>さんの会員情報編集</span></h5>
    </div>
  </div>
  
  <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
  
  <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-2 ml-4">会員ID</div>
      <div class="col-7"><%= @customer.id %></div>
  </div>
  
  <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-2 ml-4"><%= f.label :氏名 %></div>
      <div class="col-8"><%= f.text_field :last_name %>　　<%= f.text_field :first_name %></div>
  </div>
  
  <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-2 ml-4"><%= f.label :フリガナ %></div>
      <div class="col-8"><%= f.text_field :last_name_kana %>　　<%= f.text_field :first_name_kana %></div>
  </div>
  
  <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-2 ml-4"><%= f.label :郵便番号 %></div>
      <div class="col-8"><%= f.text_field :postal_code %></div>
  </div>
  
   <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-2 ml-4"><%= f.label :住所 %></div>
      <div class="col-8 "><%= f.text_field :address,class:"customer-edit-form" %></div>
  </div>
  
  <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-2 ml-4"><%= f.label :電話番号 %></div>
      <div class="col-8"><%= f.text_field :telephone_number %></div>
  </div>
  
  <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-2 ml-4"><%= f.label :メールアドレス %></div>
      <div class="col-8"><%= f.text_field :email %></div>
  </div>
  
  <div class="row mb-4">
      <div class="col-1"></div>
      <div class="col-2 ml-4"><%= f.label :会員ステータス %></div>
      <div class="col-8">
        <%= f.radio_button :is_deleted, "false" %>
        <%= f.label :is_deleted, "有効" %>
        
        <%= f.radio_button :is_deleted, "true" %>
        <%= f.label :is_deleted, "退会" %>
      </div>
  </div>
  
  <div class="row">
      <div class="col-3 ml-4"></div>
      <div class="col-8">
        <%= f.submit"変更を保存", class:"btn btn-success" %>
      </div>
  </div>
  
  
  <% end %>
  
  
  
  
</div>
    
    
    
</main>