<%= render "public/homes/list", homes:@homes %>

<div class="container">
  <div class="row">
    <div class="title col-8 mt-4 mb-3">
      <h5><span class="title-bg-color px-3">ショッピングカート</span></h5>
    </div>
    <div class="col mt-3 mb-2 px-0 text-right">
      <%= link_to "カートを空にする", cart_items_path, method: :delete, class:"btn btn-danger" %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 px-0 ml-1">
      <table border="1" bordercolor="black" width="100%">
        <thead class="bg-light">
          <tr>
            <th style="width:40%;", class="py-3 pl-1">商品名</th>
            <th style="width:15%;", class="py-3 pl-1">単価(税込)</th>
            <th style="width:15%;", class="py-3 pl-1">数量</th>
            <th style="width:15%;", class="py-3 pl-1">小計</th>
            <th style="width:15%;", class="py-3 pl-1"></th>
          </tr>
        </thead>
        
        <% @cart_items.each do |cart_item| %>
        <% @total += cart_item.subtotal %>
        <tbody>
          <tr>
            <td class="py-2"><%= image_tag cart_item.item.image, class:"cart_item-image" %>　<%= cart_item.item.name %></td>
            <td class="py-2"><%= cart_item.item.with_tax_price %></td>
            <td class="py-2 pl-2">
              <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
                <%= f.select :amount, *[1..10] %>
                <%= f.submit"変更", class:"btn btn-success ml-2" %>
              <% end %>
            </td>
            <td class="py-2"><%= cart_item.subtotal %> </td>
            <td class="py-2"><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class:"btn btn-danger ml-4" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-1"></div>
    <div class="col-4 px-0 my-auto">
      <%= link_to "買い物を続ける", root_path, class:"btn btn-primary" %>
    </div>
    <div class="col-7 px-0 d-flex justify-content-end">
      <table border="1" bordercolor="black">
        <tr>
          <th class="py-3 bg-light", style="width:130px;">合計金額</th><td style="width:130px;"><%= @total %></td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-5">
      <%= link_to "情報入力に進む", new_order_path, class:"btn btn-success" %>
    </div>
  </div>
  
</div>